ul{
  list-style: none;
  font-size: 35px;
}

li{
  margin-bottom: 10px;
  padding: 5px;
}

a{
  color: white;
  text-decoration: none;
} 
  
a:hover{
  color: #2970e7;
  text-decoration: none;
}

li:hover{
  background-color: #FF7043;
  border-radius: 3px;
  color: #2970e7;
}

span{
  font-size: 1px;
  padding: 5px 10px 5px 10px;
}

.completed-todo{
  text-decoration: line-through;
}

#new-todo-block{
  width: 60%;
  margin: 20px auto 0px auto;
}

#add-new-todo-button{
  display: block;
  margin-top: 10px;
}